*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', HelveticaNeue, sans-serif;
    color: rgb(214, 214, 214);
    font-weight: 300;
    margin-top: 48px;
    height: 100%;
    background-color: #363636;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Desktop Nav */
.nav-container {
    background: #272727;
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 44px;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.8;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    background: url('../img/logo.svg');
    display: block;
    background-position: center;
    height: 48px;
    width: 55px;
    background-repeat: no-repeat;
}


.link-account {
    background: url('../img/account.svg');
    display: block;
    background-position: center;
    background-size: 21px;
    height: 48px;
    width: 25px;
    background-repeat: no-repeat;
}

.link-close {
    background: url('../img/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Overlay */
.overlay.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

/* Desktop Nav Animation */
.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* Overlay Animation */
.overlay {
    transition: all 400ms ease;
}

/* Navigation Menu Items Transition Delay */
.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    transition-delay: 270ms;
}

.link-close {
    opacity: 0;
}

/* Hidden Items */
.mobile-nav {
    display: none;
}

.footer {
    top: 100%;
    position: relative;
    width: 100%;
    background: #272727;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    top: 20px;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 11px;
    font-weight: 300;
    top: 16px;
    position: relative;
}

/* Компьютеры */
@media (min-width: 1076px) {
    #headerMover {
        width: 1076px;
        margin: 0 auto;
        position: relative;
        zoom: 1;
        box-sizing: border-box;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .pageContent {
        display: flex;
        justify-content: space-between;
    }

    .mainContainer {
        width: 821px;
        float: left;
    }

    .discussionList {
        border-radius: 10px;
        padding: 15px 20px;
        background: rgb(39, 39, 39);
    }

    .sidebar {
        float: left;
        margin-left: 15px;
        width: 240px;
    }

    .sidebar_mob {
        display: none;
    }

    .sidebarWrapper.section {
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        border-radius: 10px;
        margin: 0 0 15px;
    }

    .section.visitorPanel {
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        border-radius: 10px;
        margin: 0 0 15px;
    }

    .section.monthMaecenas {
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        border-radius: 10px;
        margin: 0 0 15px;
    }

    .CreateThreadButton {
        color: #f5f5f5;
        width: 100%;
        font-size: 13px;
        color: rgb(214, 214, 214);
        text-decoration: none;
        background-color: rgb(34, 142, 93);
        background-position: center;
        padding: 0px 15px;
        border-style: none;
        border-radius: 6px;
        user-select: none;
        font-style: normal;
        text-align: center;
        outline: none;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        vertical-align: top;
        font-weight: 600;
        transition: background 0.8s;
        overflow: hidden;
        height: 34px;
    }

    .discussionListItem {
        position: relative;
        border-radius: 10px;
        transition: background .15s;
        clear: both;
        margin: 0 -12px;
        padding: 0px 12px;
    }

    .listBlock.lastPost {
        width: 130px;
        float: right;
        padding: 11px;
        overflow: hidden;
    }

    .avatar {
        margin: 0 3px 0 0;
        float: left;
        color: rgb(214, 214, 214);
        text-decoration: none;

    }

    img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding-top: 1px;
        border-radius: 50%;
    }

    .lastPostInfo {
        padding-top: 3px;
        display: block;
        white-space: nowrap;
        font-weight: 700;
    }

    .username {
        color: #aaa;
        font-weight: 600;
        text-align: left;
    }

    .style21 {
        color: rgb(148, 148, 148);
    }

    .PreviewTooltip {
        display: block;
        padding: 20px 0;
        text-decoration: none;
        color: rgb(214, 214, 214);
    }

    .title {
        overflow: hidden;
        white-space: nowrap;
        max-width: 80%;
        padding-left: 1px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 600;
    }

    .secondRow {
        margin: 8px 0 0;
        line-height: 18px;
        font-size: 12px;
        display: block;
    }

    .info-separator {
        width: 3px;
        height: 3px;
        background: rgb(34, 142, 93);
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin: 0 5px;
    }

    .startDate {
        display: inline-block;
        color: rgb(148, 148, 148);


    }

    .discussionListItem:hover {
        background-color: #303030;
    }

    .mobile--LastReply {
        display: none;
    }
}

/* Планшеты */
@media (max-width: 1075px) {

    .nav-container .desktop-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #272727;
        justify-content: start;
        overflow: hidden;
        z-index: -1;
        transition: all 500ms ease;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
        overflow-y: hidden;
    }

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }

    .nav-container .desktop-nav li:first-child {
        margin-top: 120px;
    }

    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-account {
        display: none;
    }

    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 700ms ease;
    }

    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }

    /* Mobile Nav */
    nav .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
    }

    nav .menu-icon-container {
        width: 20px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav .menu-icon {
        position: relative;
        width: 100%;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    /* account Icon Animation */
    .nav-container.active .mobile-nav .link-account {
        transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
    }

    .nav-container .mobile-nav .link-account {
        transition: all 500ms ease;
    }

    /* Nav Move Up */
    .nav-container nav.move-up {
        margin-top: -40px;
    }

    /* Desktop Nav Move Down */
    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }

    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }

    /* Nav Animation */
    .nav-container nav {
        transition: all 400ms ease;
    }

    #headerMover {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .pageContent {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mainContainer {
        float: none;
        margin-right: 0;
        width: auto;
    }

    .sidebar_mob {
        display: block;
        float: none;
        margin-right: 0;
        width: auto;
    }

    .sidebarWrapper {
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 70px;
    }

    .discussionList {
        border-radius: 10px;
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        margin-bottom: 30px;
    }

    .sidebarWrapper.section {
        display: none;
    }

    .section.visitorPanel {
        display: none;
    }

    .section.monthMaecenas {
        display: none;
    }

    .top {
        display: flex;
        justify-content: space-between;
    }

    .CreateThreadButton {
        float: none;
        color: #f5f5f5;
        display: block;
        font-size: 13px;
        text-decoration: none;
        background-color: rgb(34, 142, 93);
        background-position: center;
        padding: 0px 15px;
        border-style: none;
        border-radius: 6px;
        user-select: none;
        font-style: normal;
        text-align: center;
        outline: none;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        vertical-align: top;
        font-weight: 600;
        transition: background 0.8s;
        overflow: hidden;
        height: 34px;
        width: 100%;
        margin-right: 12px;
    }

    .NodeListToggle {
        width: 100%;
        display: block;
        font-size: 13px;
        color: rgb(214, 214, 214);
        text-decoration: none;
        background-color: rgb(54, 54, 54);
        background-position: center;
        padding: 0px 15px;
        border-style: none;
        border-radius: 6px;
        user-select: none;
        font-style: normal;
        text-align: center;
        outline: none;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        vertical-align: top;
        font-weight: 600;
        transition: background 0.8s;
        overflow: hidden;
        height: 34px;

    }

    .discussionListItem {
        position: relative;
        border-radius: 10px;
        transition: background .15s;
        clear: both;
        margin: 0 -12px;
        padding: 0px 12px;
    }

    .listBlock.lastPost {
        width: 130px;
        float: right;
        padding: 11px;
        overflow: hidden;
    }

    .avatar {
        margin: 0 3px 0 0;
        float: left;
        color: rgb(214, 214, 214);
        text-decoration: none;

    }

    img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding-top: 1px;
        border-radius: 50%;
    }

    .lastPostInfo {
        padding-top: 3px;
        display: block;
        white-space: nowrap;
        font-weight: 700;
    }

    .username {
        color: #aaa;
        font-weight: 600;
        text-align: left;
    }

    .style21 {
        color: rgb(148, 148, 148);
    }

    .PreviewTooltip {
        display: block;
        padding: 20px 0;
        text-decoration: none;
        color: rgb(214, 214, 214);
    }

    .title {
        overflow: hidden;
        white-space: nowrap;
        max-width: 90%;
        padding-left: 1px;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 600;
    }

    .secondRow {
        margin: 8px 0 0;
        line-height: 18px;
        font-size: 12px;
        display: block;
    }

    .info-separator {
        width: 3px;
        height: 3px;
        background: rgb(34, 142, 93);
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin: 0 5px;
    }

    .startDate {
        display: inline-block;
        color: rgb(148, 148, 148);


    }

    .discussionListItem:hover {
        background-color: #303030;
    }

    .username_mob {
        color: rgb(148, 148, 148);
    }

    .startDate_mob {
        display: none;
    }

}

/* Телефоны */
@media (max-width: 612px) {

    .nav-container .desktop-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #272727;
        justify-content: start;
        overflow: hidden;
        z-index: -1;
        transition: all 500ms ease;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
        overflow-y: hidden;
    }

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }

    .nav-container .desktop-nav li:first-child {
        margin-top: 120px;
    }

    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-account {
        display: none;
    }

    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 700ms ease;
    }

    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }

    /* Mobile Nav */
    nav .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
    }

    nav .menu-icon-container {
        width: 20px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav .menu-icon {
        position: relative;
        width: 100%;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    /* account Icon Animation */
    .nav-container.active .mobile-nav .link-account {
        transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
    }

    .nav-container .mobile-nav .link-account {
        transition: all 500ms ease;
    }

    /* Nav Move Up */
    .nav-container nav.move-up {
        margin-top: -40px;
    }

    /* Desktop Nav Move Down */
    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }

    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }

    /* Nav Animation */
    .nav-container nav {
        transition: all 400ms ease;
    }

    #headerMover {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .pageContent {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mainContainer {
        float: none;
        margin-right: 0;
        width: auto;
    }

    .sidebar_mob {
        display: block;
        float: none;
        margin-right: 0;
        width: auto;
    }

    .sidebarWrapper {
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 70px;
    }

    .discussionList {
        border-radius: 10px;
        padding: 15px 20px;
        background: rgb(39, 39, 39);
        margin-bottom: 30px;
    }

    .sidebarWrapper.section {
        display: none;
    }

    .section.visitorPanel {
        display: none;
    }

    .section.monthMaecenas {
        display: none;
    }

    .top {
        display: flex;
        justify-content: space-between;
    }

    .CreateThreadButton {
        float: none;
        color: #f5f5f5;
        display: block;
        font-size: 13px;
        text-decoration: none;
        background-color: rgb(34, 142, 93);
        background-position: center;
        padding: 0px 15px;
        border-style: none;
        border-radius: 6px;
        user-select: none;
        font-style: normal;
        text-align: center;
        outline: none;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        vertical-align: top;
        font-weight: 600;
        transition: background 0.8s;
        overflow: hidden;
        height: 34px;
        width: 100%;
        margin-right: 12px;
    }

    .NodeListToggle {
        width: 100%;
        display: block;
        font-size: 13px;
        color: rgb(214, 214, 214);
        text-decoration: none;
        background-color: rgb(54, 54, 54);
        background-position: center;
        padding: 0px 15px;
        border-style: none;
        border-radius: 6px;
        user-select: none;
        font-style: normal;
        text-align: center;
        outline: none;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;
        vertical-align: top;
        font-weight: 600;
        transition: background 0.8s;
        overflow: hidden;
        height: 34px;

    }

    .discussionListItem {
        position: relative;
        border-radius: 10px;
        transition: background .15s;
        clear: both;
        margin: 0 -12px;
        padding: 0px 12px;
    }

    .listBlock.lastPost {
        display: none;
    }

    .avatar {
        display: none;

    }

    img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding-top: 1px;
        border-radius: 50%;
    }

    .lastPostInfo {
        padding-top: 3px;
        display: block;
        white-space: nowrap;
        font-weight: 700;
    }

    .username {
        color: #aaa;
        font-weight: 600;
        text-align: left;
    }

    .username_mob {
        color: rgb(148, 148, 148);
    }

    .style21 {
        color: rgb(148, 148, 148);
    }

    .PreviewTooltip {
        display: block;
        padding: 13px 0;
        text-decoration: none;
        color: rgb(214, 214, 214);
    }

    .title {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        padding-left: 1px;
        text-overflow: ellipsis;
        font-weight: 600;
    }

    .secondRow {
        margin: 8px 0 0;
        line-height: 18px;
        font-size: 12px;
        display: block;
    }

    .info-separator_mob {
        width: 3px;
        height: 3px;
        background: rgb(34, 142, 93);
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin: 0 5px;
    }

    .startDate_mob {
        display: inline-block;
        color: rgb(148, 148, 148);


    }

    .discussionListItem:hover {
        background-color: #303030;
    }

    .mobile--LastReply {
        background: rgb(45, 45, 45);
        padding: 4px 9px;
        display: block;
        border-radius: 10px;
        margin: 4px 0 0px;
        font-weight: 600;
    }

    .info-separator {
        display: none;
    }

    .startDate {
        display: none;
    }
}

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }

}